@import 'lib/gaia-icons-embedded.css';

/* Add custom lib css */
@import 'colors.css';
@import 'header.css';
@import 'toolbar.css';
@import 'layout.css';
@import 'main.css';
@import 'form.css';
@import 'login.css';

html, body {
    font-size:10px;
    font-family:sans-serif;
    margin: 0;
    padding: 0rem;
    height:100%;
    overflow-x:hidden;
    background:white;
    text-align:center;
}

body {
  font-size: 1rem;
  background: #fff;
}
div, p , ul, table, tr, td, h1, h2, h3, h4
{
    box-sizing:border-box;
}

h1 {
  margin: 0 0 0rem 0;
}

p {
  font-size: inherit;
}
.hidden
{
    display:none;
}


