.slide.center
{
    position:relative;
    padding-top:5rem;
    z-index:5;
    text-align:left;
}

.slide.center ul,
.slide.center li
{
    margin:0px;
    padding:0px;
    width:100%;
}

.slide.center li
{
    position:relative;
    list-style:none;
    font-size:1.6rem;
    margin:0px;
    background:var(--mainlistItemBg);
    border-bottom:1px solid var(--mainlistItemBorder);
    color:var(--mainlistColor);
}
.slide.center li.fresh_item
{
    background:var(--mainlistItemBgFresh);
}

.feed_header
{
    position:relative;
    vertical-align:top;
    margin:0px;
    padding:0px;
    white-space:normal;
    padding:3.1rem 7.5rem 1.3rem 1.3rem;
}
.headerintro
{
    position:absolute;
    top:0px;
    width:100%;
    white-space:nowrap;
    padding:0.5rem 1rem 0rem 1.3rem;
}
.slide.center li.feed_fulldate
{
    padding:0.5rem 1rem;
    font-size:1.3rem;
    color:#999;
    font-weight:bold;
    letter-spacing:0.05em;
}

.feed_title
{
    display:inline;
    vertical-align:top;
    margin:0px;
    padding:0px;
    white-space:normal;
    color:var(--mainlistColor);
    font-size:1.5rem;
    line-height:1.3em;
    font-weight:bold;
    overflow:hidden;
    letter-spacing:0.01em;
}
p.feed_fulldate
{
    display:none;
}

.feed_smalldesc::before
{
    content: ' - ';
}
.feed_smalldesc
{
    margin:0px;
    display:inline;
    color:#999;
    font-size:1.5rem;
    line-height:1.3em;
    vertical-align:top;
}

.feed_origin
{
    display:inline-block;
    font-weight:normal;
    margin:0px;
    font-size:1.3rem;
    color:var(--mainlistColorOrigin);
    line-height:2.5rem;

}
.feed_date
{
    float:right;
    font-size:1.3rem;
    margin:0px;
    line-height:2.5rem;
    letter-spacing:0.05em;
    color:#2d6cb3;
}
.feed_image
{
    position:absolute;
    right:1rem;
    top:4.3rem;
    height:0px;
    padding-top:18.8%;
    margin:0px;
    margin-bottom:0.3rem;
    width:6rem;
    background-position:center center;
    background-color:#ddd;
    background-repeat:no-repeat;
    background-size:contain;

}
.feed_flags
{
    display:inline-block;
    height:2.5rem;
    color:var(--mainFlagsFg);
    text-align:center;
    width:2rem;
    margin:0px 1rem 0px 0px;
}

.feed_flags span
{
    display:inline-block;
    vertical-align:middle;
}

/* do not display like on list */
.feed_flags span.flag_like,
.feed_flags span.flag_share
{
    display:none;
}
.feed_flags span.ko
{
    color:var(--mainFlagsFgKo);
}
.feed_flags span.updating
{
    color:var(--mainFlagsFgUpdating);
}

.feed_content
{
    position:relative;
    width:100%;
    font-size:1.6rem;
    line-height:2.0rem;
    padding:1rem;
    overflow:hidden;
    white-space:normal;
}
.feed_content *
{
    max-width: 100%;
    height:auto;
    white-space:normal;
    line-height:1.2em;
}

.slide.center li.not_loggedin,
.slide.center li.no_items,
.slide.center li.loading
{
    line-height:7rem;
    text-align:center;
    font-size:1.6rem;
    background:var(--mainlistButtonBg);
    text-shadow:1px 1px 1px #000;
    color:var(--mainlistButtonFg);
}
.slide.center li.not_loggedin
{
    line-height:2em;
    padding:3rem 0px;
    white-space:normal;
}




.center_menu
{
    position:fixed;
    bottom:0px;
    z-index:2;
    bottom:0px;
    width:100%;
    text-align:center;
    background:var(--centerMenuBg);
    color:var(--centerMenuFg);
    height:5rem;
    line-height:5rem;
    overflow:hidden;
    white-space:nowrap;
    border-top:1px solid var(--centerMenuFg);
}
.center_menu span
{
    display:inline-block;
    vertical-align:top;
    padding:0px 3rem;
    height:5rem;
    line-height:5rem;
}
.center_menu span:active
{
    color:white;
}
.center_menu_single
{
    z-index:5;
}

.center_menu span.list_btn
{
    background:url(../../img/list.png) center center no-repeat;
    background-size:auto 50%;
    vertical-align:top;
}
.center_menu span.updating
{
    color:var(--mainFlagsFgUpdating);
}

.slide.center li.feed_fullscreen
{
    position:fixed;
    z-index:4;
    top:5rem;
    width:100%;
    overflow-x:hidden;
    background:var(--mainsubListBg);
    bottom:5rem;
}
.slide.center li.feed_fullscreen .feed_smalldesc,
.slide.center li.feed_fullscreen .feed_smalldate
{
    display:none;
}
.slide.center li.feed_fullscreen .feed_fulldate
{
    display:block;
}

li.feed_fullscreen .headerintro
{
    position:relative;
    padding-top:0px;
    background:#ebebeb;
}

li.feed_fullscreen .feed_header
{
    background:var(--mainlistItemBg);
    padding:1rem;
    padding-bottom:0px;
}
li.feed_fullscreen .feed_image
{
    display:none;
}
li.feed_fullscreen .feed_title
{
    padding-right:0px;
    font-weight:bold;
    font-size:1.6rem;
}
li.feed_fullscreen .feed_flags
{
    position:relative;
    width:100%;
    height:auto;
    padding-bottom:1.3rem;
}
li.feed_fullscreen .feed_flags span
{
    padding:0px 3rem;
    font-size:2.2rem;
    line-height:3rem;
}
li.feed_fullscreen .feed_flags span.flag_like,
li.feed_fullscreen .feed_flags span.flag_share
{
    display:inline-block;
}

li.feed_flags .headerintro
{
    background:#ebebeb;
}
li.feed_fullscreen .feed_origin
{
    position:absolute;
    top:0px;
    right:1.5rem;
}
li.feed_fullscreen .feed_date
{
    display:block;
    float:none;
    text-align:left;
    padding-bottom:1.3rem;
}

.alert_container
{
    position:absolute;
    bottom:20%;
    z-index:6;
    width:100%;
    text-align:center;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.5s ease 0s;
}
.alert_container.visible
{
    visibility:visible;
    opacity:1;
}
.alert
{
    width:70%;
    margin:auto;
    font-size:1.7rem;
    white-space:normal;
    line-height:1.4em;
    padding:1rem;
    background:var(--centerMenuBg);
    text-shadow:1px 1px 1px #000;
    color:var(--mainlistButtonFg);
    border:1px solid white;
    text-align:center;
}
.alert_container.visible.error .alert
{
    color:red;
    border:1px solid red;
}

