
.header
{
    position:fixed;
    width:100%;
    top:0px;
    height:5rem;
    line-height:5rem;
    background:var(--headerBg);
    font-size:0.7rem;
    color:var(--headerColor);
    overflow:hidden;
    border-bottom:1px solid black;

    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.header button
{
    width:5rem;
    height:5rem;
}
.header button span
{
    color:var(--headerColor);
}
.header button.selected
{
    background:var(--selectedMenu);
}

.button_left
{
    float:left;
}
.button_right
{
    float:right;
}
.header button
{
    background:none;
    border:none;
}

