
.header
{
    height:4rem;
    line-height:4rem;
    background:var(--mainBg);
    font-size:0.7rem;
    color:var(--mainColor);
}

.header button
{
    width:4rem;
    height:4rem;
}
.button_left
{
    float:left;
}
.button_right
{
    float:right;
}
.header button
{
    background:none;
    border:none;
}

